<ng-container>

  <mat-toolbar class="header mat-elevation-z3">


    <div class="o-flexbox o-flex-1 u-h-full o-flex-align-items-center">
      <button mat-button (click)="sidenav.toggle()">Menu</button>
      <a href="#" class="brand-logo">
      </a>
    </div>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="relative-pos">
        <a><img  style="margin: 15px; width: 30px; height: 30px;" 
          (click)="openNotifications()"></a>
        <a >
          
        </a>
        <a mat-button (click)="showActions = !showActions" (clickOutside)="showActions = false">
          Bienvenido Prueba
        </a>

      </li>
    </ul>

  </mat-toolbar>

  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="{{navMode}}" opened="{{navOpened}}" class="mat-elevation-z8" 
                [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
      <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

    

  </mat-sidenav-container>

</ng-container>

<div class="loading-overlay" [hidden]="!isLoading()">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>