<!-- <h1 mat-dialog-title class="center-horizontal">
  <i class="material-icons" style="font-size:80px; color: #3f4ebb">
    info
  </i>
  <div>Movil Repuestos</div>
</h1> -->
<div mat-dialog-content>

  <div id="print-section">
    <h1 class="center-horizontal" style="font-size:20px;">
      <i class="material-icons" style="font-size:80px; color: #3f4ebb">
        <img src="assets/images/logo.jpg" class="logo">
      </i>
      <div>Mrn Colombia</div>
    </h1>

    <mat-list role="list">
      <mat-list-item role="listitem">Comercio: {{data.nameCommerce}}</mat-list-item>
      <mat-list-item role="listitem">Código: {{data.valueQR}}</mat-list-item>
      <div style="text-align:center;">  
        <ngx-qrcode  id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "codeQR">
        </ngx-qrcode><br>
      </div>

    </mat-list>
  </div>

</div>
<div mat-dialog-actions class="center-horizontal" align="center">
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Cerrar</button>
  <button mat-raised-button printSectionId="print-section" [useExistingCss]="true" ngxPrint>Imprimir</button>
</div>